# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [256]:
import pandas  as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [257]:
chipko = pd.read_csv('file.tsv', delimiter='\t')
chipko

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [258]:
chipko['item_price']=chipko['item_price'].str.replace('$','').astype(float)
chipko
filtered = chipko['item_price']>10
chipko.loc[filtered,['item_name']].count()

/tmp/ipykernel_19916/1186559162.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipko['item_price']=chipko['item_price'].str.replace('$','').astype(float)

item_name    1130
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [260]:
filtered = chipko['quantity'] ==1
filtere1 = chipko.loc[filtered,['item_name','item_price']]
filtered2 = filtere1.drop_duplicates(subset='item_name')
priceofeachitems = filtered2.reset_index().drop('index',axis=1)
priceofeachitems

                                item_name  item_price
0            Chips and Fresh Tomato Salsa        2.39
1                                    Izze        3.39
2                        Nantucket Nectar        3.39
3   Chips and Tomatillo-Green Chili Salsa        2.39
4                            Chicken Bowl       10.98
5                           Side of Chips        1.69
6                           Steak Burrito       11.75
7                        Steak Soft Tacos        9.25
8                     Chips and Guacamole        4.45
9                    Chicken Crispy Tacos        8.75
10                     Chicken Soft Tacos        8.75
11                        Chicken Burrito        8.49
12                       Barbacoa Burrito        8.99
13                       Carnitas Burrito        8.99
14                            Canned Soda        1.09
15                          Carnitas Bowl        8.99
16                          Bottled Water        1.09
17  Chips and Tomatillo Green Chili Salsa        2.95
18                          Barbacoa Bowl       11.75
19                                  Chips        2.15
20                     Chicken Salad Bowl        8.75
21                             Steak Bowl        8.99
22                    Barbacoa Soft Tacos        9.25
23                         Veggie Burrito       11.25
24                            Veggie Bowl       11.25
25                     Steak Crispy Tacos        9.25
26    Chips and Tomatillo Red Chili Salsa        2.95
27                  Barbacoa Crispy Tacos       11.75
28                      Veggie Salad Bowl       11.25
29     Chips and Roasted Chili-Corn Salsa        2.39
30     Chips and Roasted Chili Corn Salsa        2.95
31                    Carnitas Soft Tacos        9.25
32                          Chicken Salad       10.98
33                      Canned Soft Drink        1.25
34                      6 Pack Soft Drink        6.49
35    Chips and Tomatillo-Red Chili Salsa        2.39
36                                Burrito        7.40
37                           Crispy Tacos        7.40
38                  Carnitas Crispy Tacos        9.25
39                       Steak Salad Bowl       11.89
40                            Steak Salad        8.99
41                                   Bowl        7.40
42      Chips and Mild Fresh Tomato Salsa        3.00
43                      Veggie Soft Tacos       11.25
44                    Carnitas Salad Bowl       11.89
45                    Barbacoa Salad Bowl       11.89
46                                  Salad        7.40
47                    Veggie Crispy Tacos        8.49
48                           Veggie Salad        8.49
49                         Carnitas Salad        8.99

### Step 6. Sort by the name of the item

In [261]:
sort = chipko

In [262]:
sort.sort_values(by='item_name',ascending=True)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [263]:
mostexpensive = chipko.sort_values(by='item_price',ascending=False)
mostexpensive.head()

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [274]:
filteredw = chipko['item_name'] =='Veggie Salad'
orderslist = chipko.loc[filteredw,'order_id'].count()
print("most of ordered veggie salad ", orderslist)

most of ordered veggie salad  6

### Step 9. How many times did someone order more than one Canned Soda?

In [291]:
filtercanddeda = (chipko['item_name'] == 'Canned Soda') & (chipko['quantity'] >1)
print(chipko.loc[filtercanddeda,'order_id'].count(), "times did someone order more than one Canned Soda")

20 times did someone order more than one Canned Soda